<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <div class="caption">Sign Up</div>
      <div class="formGroup">
        <input
          type="email"
          class="formControl"
          placeholder="Email Address"
          #userEmail
          required
        />
      </div>
      <div class="formGroup">
        <input
          type="password"
          class="formControl"
          placeholder="Password"
          #userPwd
          required
        />
      </div>
      <div class="formGroup">
        <button
          (click)="authService.SignUp(userEmail.value, userPwd.value)">Sign Up</button>
      </div>
    </div>
    <div class="redirectToLogin">
      <span
      >Already have an account?
        <span class="redirect" routerLink="/">Log In</span></span
      >
    </div>
  </div>
</div>
