<div class="pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Add Chapter</h2>
</div>
<div>
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="row">

        <div class="col-md-12 mb-3">
          <label>Name</label>
          <input
            type="text"
            [(ngModel)]="name"
            class="form-control"
          />
        </div>
        <div class="col-md-12 mb-3">
          <label>ID</label>
          <input
            type="text"
            [(ngModel)]="id"
            class="form-control"

          />
        </div>

        <div class="row">
          <div class="col-md-12 mb-3">
            <label>Content</label>
            <input
              type="text"
              [(ngModel)]="content"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group text-right">
          <button
            type="button"
            class="btn btn-success"
            (click)="submitChapterData()"
          >
            Add Chapter
          </button>
        </div>
      </div>
    </div>
  </div>
