<div class="component_basics" *ngIf="auth.userData as user">
  <div class="component">
    <div class="category">
      <div class="caption">Add Chapter</div>
    </div>

    <div class="category">
      <div>

        <div class="cell">
          <label>Name</label>
          <input type="text" [(ngModel)]="name"/>
        </div>

        <div class="cell">
          <label>ID</label>
          <input type="text" [(ngModel)]="id"/>
        </div>

        <div class="cell">
          <label>Content</label>
          <input type="text" [(ngModel)]="content"/>
        </div>

        <button (click)="submitChapterData()">Add Chapter</button>

      </div>
    </div>
  </div>
</div>
