<div class="background" *ngIf="auth.userData as user">
  <ng-container *ngIf="story$|async as story">

  <div class="story_content">

    <div class="story_item">
      <div class="headline story_header">
        <div></div>
        {{story.name}}
        <a [href]="'/edit-story/'+this.storyid"><span class="material-icons">edit</span> </a>
      </div>

      <div class="link"><a [href]="'/story/'+this.storyid+'/add-chapter'"><span class="material-icons">add</span>Add Chapter</a></div>

      <div *ngFor="let chapter of chapters$|async"  class="chapter_List">
        <div class="s">
          <div></div>
        <a [href]="'/chapter/'+this.storyid+'/'+chapter.id">{{chapter.name}}</a>
        <button
          class="btn btn-outline-danger btn-sm"
          (click)="deleteChapter(chapter)"
        >
          <span class="material-icons">delete</span>
        </button>
        </div>
      </div>
    </div>

    <div class="story_desc">
      <div class="b"><span class="bold">Description</span>{{story.description}}</div>
    </div>

  </div>
  </ng-container>
</div>

