<div class="background">
  <ng-container *ngIf="character$|async as character">

    <div class="c_textcontent">
      <div class="c_item">
      <div class="bold headline">{{character.name}}</div>

      <div class="c_general">

        <div class="c"><span class="bold">Nickname: </span>{{character.name}}</div>
        <div class="c"><span class="bold">Age: </span>{{character.age}}</div>
        <div class="c"><span class="bold">Birthdate: </span>{{character.birthdate}}</div>
        <div class="c"><span class="bold">Birthplace: </span>{{character.birthplace}}</div>
      </div>

      <div class="c_family">
        <div class="c"><span class="bold">Mother: </span>{{character.mother}}</div>
        <div class="c"><span class="bold">Father: </span>{{character.father}}</div>
        <div class="c"><span class="bold">Siblings: </span>{{character.siblings}}</div>
      </div>

      <div class="c_appearance">
        <div class="c"><span class="bold">Haircolour: </span>{{character.haircolour}}</div>
        <div class="c"><span class="bold">Eyecolour: </span>{{character.eyecolour}}</div>
        <div class="c"><span class="bold">Height: </span>{{character.height}}</div>
        <div class="c"><span class="bold">Weight: </span>{{character.weight}}</div>
        <div class="c"><span class="bold">Bodytype: </span>{{character.bodytype}}</div>
      </div>

      <div class="c_character">
        <div class="c"> <span class="bold">Traits:</span>{{character.traits}}</div>

        <div class="c"><span class="bold">Likes</span> {{character.likes}}</div>
        <div class="c"><span class="bold">Dislikes</span> {{character.dislikes}}
        </div>
      </div>

</div>
      <div class="c_backstory">
        <div class="b"><span class="bold">Backstory</span>{{character.backstory}}</div>
      </div>
    </div>
  </ng-container>
</div>

