@import "src/styles.scss";

  .c_textcontent{
      display: flex;
      justify-content: space-evenly;
      width: 100%;
      padding-top: 64px;

    .c_item{
      padding: 0px 36px;
      width: 30%;
      margin: 0px 3%;

      .story_header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }


      .c_general, .c_family, .c_appearance, .c_character, .c_backstory{
        background-color: $color-primary;
        display: flex;
        flex-direction: column;
        align-items: center;


        padding: 16px;
        margin-bottom: 16px;
        border-radius: 10px;

        .c{
          display: flex;
          overflow-wrap: break-word;
          align-items: flex-start;
          width: 95%;
          padding: 8px 24px;

          span{
            width: 35%;
          }
        }
      }
    }
    .c_backstory{
      background-color: $color-primary;
      text-align: justify;
      width: 40%;
      margin: 0px 3%;

      padding: 32px;
      margin-bottom: 16px;
      border-radius: 10px;

      .b{
        display: flex;
        flex-direction: column;

        span{
          text-align:center;
          font-size: 24px;
          padding: 8px;
        }
      }
    }
  }

