<div class="component_basics" *ngIf="auth.userData as user">
  <div class="component">
    <div class="category">
      <div class="caption">Add Character</div>
    </div>

    <div class="category">
      <div>

        <div class="cell">
          <label>Full Name</label>
          <input type="text" [(ngModel)]="name"/>
        </div>

        <div class="cell">
          <label>ID</label>
          <input type="text" [(ngModel)]="id"/>
        </div>

        <div class="cell">
          <label>Nickname</label>
          <input type="text" [(ngModel)]="nickname"/>
        </div>

        <div class="cell">
          <label>Age</label>
          <input type="text" [(ngModel)]="age"/>
        </div>

        <div class="cell">
          <label>Date of Birth</label>
          <input type="text" [(ngModel)]="birthdate"/>
        </div>

        <div class="cell">
          <label>Place of Birth</label>
          <input type="text" [(ngModel)]="birthplace"/>
        </div>

        <div class="cell">
          <label>Mother</label>
          <input type="text" [(ngModel)]="mother"/>
        </div>

        <div class="cell">
          <label>Father</label>
          <input type="text" [(ngModel)]="father"/>
        </div>

        <div class="cell">
          <label>Siblings</label>
          <input type="text" [(ngModel)]="siblings"/>
        </div>

        <div class="cell">
          <label>Hair Colour</label>
          <input type="text" [(ngModel)]="haircolour"/>
        </div>

        <div class="cell">
          <label>Eye Colour</label>
          <input type="text" [(ngModel)]="eyecolour"/>
        </div>

        <div class="cell">
          <label>Height</label>
          <input type="text" [(ngModel)]="height"/>
        </div>

        <div class="cell">
          <label>Weight</label>
          <input type="text" [(ngModel)]="weight"/>
        </div>

        <div class="cell">
          <label>Bodytype</label>
          <input type="text" [(ngModel)]="bodytype"/>
        </div>

        <div class="cell">
          <label>traits</label>
          <input type="text" [(ngModel)]="traits"/>
        </div>

        <div class="cell">
          <label>Likes</label>
          <input type="text" [(ngModel)]="likes"/>
        </div>

        <div class="cell">
          <label>Dislikes</label>
          <input type="text" [(ngModel)]="dislikes"/>
        </div>

        <div class="cell">
          <label>Backstory</label>
          <textarea class="textarea" [(ngModel)]="backstory"></textarea>
        </div>

        <button (click)="submitCharacterData()">Add Character</button>

      </div>
    </div>
  </div>
