<div class="pt-3 pb-2 mb-3 border-bottom">
  <h2 class="h2">Add Character</h2>
</div>
<form #characterForm (submit)="submitCharacterData()">
  <div class="row">
    <div class="col-lg-5 col-md-12 col-sm-12">
      <div class="row">

        <div class="col-md-12 mb-3">
          <label>Name</label>
          <input
            type="text"
            formControlName="name"
            class="form-control"
          />
        </div>
        <div class="col-md-12 mb-3">
          <label>ID</label>
          <input
            type="text"
            formControlName="id"
            class="form-control"

          />
        </div>

        <div class="col-md-12 mb-3">
          <label>nickname</label>
          <input
            type="text"
            formControlName="nickname"
            class="form-control" />
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 mb-3">
          <label>age</label>
          <input
            type="text"
            formControlName="age"
            class="form-control"
          />
        </div>

        <div class="col-md-12 mb-3">
          <label>birthdate</label>
          <input
            type="text"
            formControlName="birthdate"
            class="form-control"
          />
        </div>

      <div class="col-md-12 mb-3">
        <label>birthplace</label>
        <input
          type="text"
          formControlName="birthplace"
          class="form-control"
        />
      </div>

    <div class="col-md-12 mb-3">
      <label>mother</label>
      <input
        type="text"
        formControlName="mother"
        class="form-control"
      />
    </div>

  <div class="col-md-12 mb-3">
    <label>father</label>
    <input
      type="text"
      formControlName="father"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>siblings</label>
    <input
      type="text"
      formControlName="siblings"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>haircolour</label>
    <input
      type="text"
      formControlName="haircolour"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>eyecolour</label>
    <input
      type="text"
      formControlName="eyecolour"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>height</label>
    <input
      type="text"
      formControlName="height"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>weight</label>
    <input
      type="text"
      formControlName="weight"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>bodytype</label>
    <input
      type="text"
      formControlName="bodytype"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>traits</label>
    <input
      type="text"
      formControlName="traits"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>likes</label>
    <input
      type="text"
      formControlName="likes"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>dislikes</label>
    <input
      type="text"
      formControlName="dislikes"
      class="form-control"
    />
  </div>

  <div class="col-md-12 mb-3">
    <label>backstory</label>
    <input
      type="text"
      formControlName="backstory"
      class="form-control"
    />
  </div>
      </div>

      <div class="form-group text-right">
        <button
          type="submit"
          class="btn btn-success"
        >
          Add Student
        </button>
      </div>
    </div>
  </div>
</form>
