<!-- Top navigation -->
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
<div *ngIf="authService.userData as user">
  <ul class="navbar-nav px-3" >
    <li class="nav-item text-nowrap">
      <a class="nav-link" routerLink="/add-character">
        Character
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/add-character" routerLinkActive="active">
        Add Student
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/view-characters" routerLinkActive="active">
        Students List
      </a>
    </li>
  </ul>
  <ul>
  <li class="nav-item">
    <a class="nav-link" (click)="authService.SignOut()">
      Log out
    </a>
  </li>
  </ul>
</div>
</nav>

<router-outlet></router-outlet>
