<!-- Top navigation -->
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<nav class="navbar navbar-dark fixed-top ">
  <div class="navbar-total">

      <ul>
        <li class="nav-item text-nowrap" *ngIf="authService.userData as user">
          <a class="nav-link" routerLink="/home">
            <span class="material-icons">home</span>
            Home
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.userData as user">
          <a class="nav-link" routerLink="/characterlist" routerLinkActive="active">
            <span class="material-icons">people</span>
            Characters
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.userData as user">
          <a class="nav-link" routerLink="/stories" routerLinkActive="active">
            <span class="material-icons">import_contacts</span>
            Stories
          </a>
        </li>

        <li class="nav-item" *ngIf="authService.userData as user">
          <a class="nav-link" routerLink="/locationlist" routerLinkActive="active">
            <span class="material-icons">map</span>
            Locations
          </a>
        </li>
      </ul>

      <ul>
      <li class="nav-item" *ngIf="authService.userData as user">
        <a class="nav-link" routerLink="/" (click)="authService.SignOut()">
          <span class="material-icons">logout</span>
          Logout
        </a>
      </li>
      </ul>

  </div>


</nav>

<router-outlet></router-outlet>
