@import "src/styles.scss";

.material-icons{
  padding-left: 24px;
}
.chap_wrap{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  padding-top: 32px;


  .chap_desc{
    background-color: $color-primary;
    text-align: justify;
    width: 70%;
    height: 70%;
    margin: 0px 3%;

    padding: 32px;
    margin-bottom: 16px;
    border-radius: 10px;

  }


}
