<div class="background">

  <div class="bold headline">[cName]</div>

  <div class="c_textcontent">

    <div class="c_general">

      <div><span class="bold">Nickname: </span>[cNickname]</div>
      <div><span class="bold">Age: </span>[cAge]</div>
      <div><span class="bold">Birthdate: </span>[cDate]</div>
      <div><span class="bold">Birthplace: </span>[cPlace]</div>
    </div>

    <div class="c_family">
      <div><span class="bold">Mother: </span>[cMother]</div>
      <div><span class="bold">Father: </span>[cFather]</div>
      <div><span class="bold">Siblings: </span>[cSiblings]</div>
      <div><span class="bold">Friends: </span>[cFriends]</div>
    </div>

    <div class="c_appearance">
      <div><span class="bold">Haircolour: </span>[cHaircolour]</div>
      <div><span class="bold">Eyecolour: </span>[cEyecolour]</div>
      <div><span class="bold">Height: </span>[cHeight]</div>
      <div><span class="bold">Weight: </span>[cWeight]</div>
      <div><span class="bold">Bodytype: </span>[cBodytype]</div>
    </div>

    <div class="c_character">

      <div class="bold">Character Traits:</div>
      <div>
        <ul>
          <li>Trait 1</li>
          <li>Trait 2</li>
          <li>Trait 3</li>
          <li>Trait 4</li>
          <li>Trait 5</li>
          <li>Trait 6</li>
        </ul>
      </div>

      <div><span class="bold">Likes:</span></div>
      <div><span class="bold">Dislikes:</span></div>
    </div>


    <div class="c_backstory">

      [cBackstory]

    </div>
  </div>
  <div class="c_pic">
    Platzhalter für Bild
  </div>


</div>

