<div class="component_basics" *ngIf="auth.userData as user">
  <div class="component">
    <div class="category">
      <div class="caption">Edit Location</div>
    </div>

    <div class="category">
      <div>
        <div class="cell">
          <label>Name</label>
          <input type="text" [(ngModel)]="name" />
        </div>

        <div class="cell">
          <label>Type</label>
          <input type="text" [(ngModel)]="type" />
        </div>

        <div class="cell">
          <label>Description</label>
          <input type="text" [(ngModel)]="description" />
        </div>

        <button (click)="updateForm()">Update Location</button>

      </div>
    </div>
  </div>
</div>
