@import "src/styles.scss";

.character_general{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .character_List{
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    width: 25%;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;


    text-align: center;
    line-height: 150%;

  }
}
