@import "src/styles.scss";

.character_general{
  display: flex;
  flex-direction: row;
  justify-content: center;

  .character_List{
    background-color: $color-primary;
    width: 90%;
    padding: 16px;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;

    display: flex;
    flex-direction: row;
    justify-content: center;

    text-align: center;
    line-height: 150%;

  }
}
