/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Moon+Dance&display=swap');




// project base colors
$color-background: #161A1B !default;
$color-primary: #1A2021 !default;
$color-secondary: #1C272B !default;
$color-highlight: #25708C !default;
$color-default: #30C5FF !default;


// borders
$border-width: 1px !default;
$border-color: $color-primary;
$border-style: solid;
$border-radius: 5px !default;

// fonts
$font-default: 'Roboto' !default;
$font-special: 'Moon Dance', cursive !default;

$fz-base: 16px !default;
$lh-base: 1.5rem !default;
$ls-base: 0px !default;
$fw-base: 400 !default;
$fs-base: normal !default;
$fw-bold: 700 !default;


// Text - links
$link-color: $color-default !default;
$link-hover-color: $color-primary !default;
$link-decoration: none !default;
$link-hover-decoration: underline !default;

// Text - Headlines
$color-headlines: $color-primary !default;
$ff-headlines: $font-special !default;
$lh-headlines: 1.5 !default;
$fw-headlines: $fw-bold !default;
$ls-headlines: 0px !default;
$fs-headlines: normal !default;

$fz-h1: 40px !default;
$fz-h2: 36px !default;
$fz-h3: 28px !default;
$fz-h4: 24px !default;
$fz-h5: 20px !default;
$fz-h6: 18px !default;

// Buttons
$button-background: $color-primary !default;
$button-background-active: none !default;
$button-color: #000 !default;
$button-color-active: $color-primary !default;


$checkbox-icon: $color-primary;

html, body { height: 100%; width: 100%; background-color: $color-background;}
body { margin: 0;}

a {color: $color-highlight; text-decoration: none;}
a:hover {
  color: $color-default;
}
.bold{font-weight:bold;}

.background{
  width: 100%;
  background-color: $color-background;
  font-family: $font-default;
  color: $color-highlight;
  font-size: $fz-h5;
}

button{
//background-color: $color-primary;
background-color: transparent;
  border: none;
  color: $color-default;
  padding: 2px 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button:hover {
  color: $color-default;
  cursor: pointer;
}

.title{
  width: 100%;
  margin : 0px;
  font-size: 100px;
  line-height: 128px;
  color: $color-default;
  font-weight: bold;
  text-align: center;
  font-family: $font-special;
}

.headline{
  margin : 0px;
  padding-bottom: 48px;
  font-size: 60px;
  line-height: 80px;
  color: $color-default;
  font-weight: bold;
  text-align: center;
  font-family: $font-special;
}

.caption{
  margin : 0px;
  padding-bottom: 20px;
  font-size: 40px;
  line-height: 60px;
  color: $color-default;
  font-weight: bold;
  text-align: center;
  font-family: $font-special;
}

input{
  background-color: $color-secondary;
  color: $color-default;
  padding:10px;
  Margin: 4px;
  border: 0;
  border-radius:5px;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-primary;
    border-radius: 30px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
    border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
