<div class="background" *ngIf="auth.userData as user">

  <div class="content">

    <div class="fics">
      <div></div>
      <a routerLink="/stories" routerLinkActive="active">Your Stories</a>
      <div></div>
    </div>

    <div class="OCs">
      <div></div>
      <a routerLink="/characterlist" routerLinkActive="active">Your Characters</a>
      <div></div>
    </div>

    <div class="places">
      <div></div>
      <a routerLink="/locationlist" routerLinkActive="active">Your Locations</a>
      <div></div>
    </div>

  </div>

</div>


