<div class="background">
  <ng-container *ngIf="story$|async as story">
  <div class="bold headline">{{story.chapters[0].name}}</div>

  <div class="chap_wrap">
    <div class="chap_general">

      <div><span class="bold">Location: </span> [lName] (Link)</div>
      <div><span class="bold">Characters: </span> [cName] (Link)</div>
    </div>

    <div class="chap_desc">
      <div><span class="bold">Chapter: </span> {{story.chapters[0].chapText}}</div>
    </div>

  </div>
  </ng-container>
</div>
