@import "src/styles.scss";

.link{
  display: flex;
  justify-content: flex-end;
  padding: 16px;
  margin-right: 64px;
  align-content: center;


  a {
     display: inline-block;
     position: relative;
     z-index: 1;
     padding: 0.5em;

     .material-icons{
         display: inline-flex;
         vertical-align: top;
         font-size: 22px;
     }

  }
}

.location_general{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .location_List{
    display: flex;
    justify-content: space-between;
    background-color: $color-primary;
    width: 25%;
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 10px;


    text-align: center;
    line-height: 150%;

    button{
        color: $color-highlight;
    }
  }
}
