<div class="background" *ngIf="auth.userData as user">
  <ng-container *ngIf="locations$|async as locations">
    <div class="bold headline">List of your location</div>
    <div class="link"><a [href]="'/add-location'"><span class="material-icons">add</span>Add Location</a></div>

    <div class="location_general">

      <div *ngFor="let location of locations"  class="location_List">
        <div></div>
        <a [href]="'/location/'+location.id">{{location.name}}</a>
        <button
          class="btn btn-outline-danger btn-sm"
          (click)="deleteLocation(location)"
        >
          <span class="material-icons">delete</span>
        </button>
      </div>
    </div>

  </ng-container>
</div>

