<div class="component_basics" *ngIf="auth.userData as user">
  <div class="component">
    <div class="category">
      <div class="caption">Add Location</div>
    </div>

    <div class="category">
      <div>

        <div class="cell">
          <label>Name</label>
          <input type="text" [(ngModel)]="name"/>
        </div>

        <div class="cell">
          <label>ID</label>
          <input type="text" [(ngModel)]="id"/>
        </div>

        <div class="cell">
          <label>Type</label>
          <input type="text" [(ngModel)]="type"/>
        </div>

        <div class="cell">
          <label>Description</label>
          <input type="text" [(ngModel)]="description"/>
        </div>

        <button (click)="submitLocationData()">Add Location</button>

      </div>
    </div>
  </div>
</div>
