<div class="component_basics" *ngIf="auth.userData as user">
  <div class="component">

    <div class="category">
      <div class="caption">Edit Chapter</div>
    </div>

    <div class="category">
      <div>
        <div class="cell">
          <label>Chapter Name</label>
          <input type="text" [(ngModel)]="name" />
        </div>

        <div class="cell">
          <label>Content</label>
          <textarea [(ngModel)]="content" class="textarea" ></textarea>
        </div>

          <button (click)="updateForm()">
            Update Chapter
          </button>

      </div>
    </div>
  </div>
</div>
