<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Edit Location</h1>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pricing-header form-block mx-auto">

      <div>
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">

              <div class="col-md-12 mb-3">
                <label>Name</label>
                <input
                  type="text"
                  [(ngModel)]="name"
                  class="form-control"
                />
              </div>


            <div class="row">
              <div class="col-md-12 mb-3">
                <label>Content</label>
                <input
                  type="text"
                  [(ngModel)]="content"
                  class="form-control"
                />
              </div>
            </div>

            <div class="form-group text-right">
              <button
                type="button"
                class="btn btn-success btn-block"
                (click)="updateForm()"
              >
                Update Chapter
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
